.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2E4053 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}
.Heading{
    color: white;
    text-align: center;
   margin: 70px auto;
     text-shadow: 1px 1px 2px black, 0 0 25px  #F9E79F , 0 0 5px  #F9E79F ;
}
